<nav class="navbar navbar-expand-lg bg-light" style="background-color: #FFFFFF;">
    <div class="container-fluid px-5">
        <div class="container">
            <a routerLink="/home" class="navbar-brand" href="#">
                <img src="../../../assets/navIcon.png" alt="" width="137" height="80">
            </a>
        </div> 

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav d-flex justify-content-end">
                <li class="nav-item">
                    <a routerLink="/home" 
                    *ngIf="isLogged==false"
                    routerLinkActive="active"
                    class="nav-link text-primary ms-4" 
                    href="#">Inicio</a>
                </li>
                <li class="nav-item">
                    <a routerLink="/tienda" 
                    routerLinkActive="active" 
                    class="nav-link text-primary ms-4" 
                    href="#">Tienda</a>
                </li>
                <li class="nav-item">
                    <a routerLink="/login" 
                    *ngIf="isLogged==false"
                    routerLinkActive="active" 
                    class="nav-link text-primary text-nowrap ms-4" 
                    href="#">Iniciar Sesión</a>
                </li>
                <li class="nav-item">
                    <a routerLink="/signUp" 
                    *ngIf="isLogged==false"
                    routerLinkActive="active" 
                    class="nav-link text-primary ms-4" 
                    href="#">Registrarse</a>
                </li>
                <li class="nav-item">
                    <a routerLink="/panel" 
                    *ngIf="isLogged"
                    routerLinkActive="active" 
                    class="nav-link text-primary ms-4" 
                    href="#">{{navUsername}}</a>
                </li>
                <li class="nav-item">
                    <a 
                    *ngIf="isLogged"
                    routerLinkActive="active" 
                    class="nav-link text-primary ms-4" 
                    href="#">Cerrar Sesion</a>
                </li>
            </ul>
        </div>
    </div>
</nav>