<div id="container-img">
    <div class="bg-light rounded px-5 py-4" id="bubble-25">
        <div class="">
            <h2 class="d-inline fw-bolder me-4">Mira nuestra</h2> 
            <a routerLink="/tienda" class="d-inline btn btn-primary" href="#" role="button">Tienda</a>
        </div>
        <div class="bg-light ">
            <h1 class="fw-bolder">Accesorios, mascotas y más...</h1> 
        </div>
    </div>

    <div class="bg-light rounded px-5 py-4" id="bubble-75">
        <div class="">
            <h2 class="d-inline fw-bolder me-4">¿Eres nuevo?</h2> 
            <a routerLink="/signUp" class="d-inline btn btn-primary" href="#" role="button">Registrarse</a>
        </div>
        <div class="bg-light ">
            <h1 class="d-inline fw-bolder">¿Ya tienes una cuenta?</h1> 
            <a routerLink="/login" class="d-inline" href="#" role="button">Iniciar Sesión</a>
        </div>
    </div>
</div>