<div class="position-relative container-fluid mw-100% p-5" style="height: 600px; background-color: rgba(247, 245, 215, 0.933);">
    <h2 class="pb-2">Panel de Usuario</h2>
    <div class="d-inline-flex d-flex bg-light position-absolute w-40 pt-3 pb-5 top-25 start-0 mx-5 rounded" style="width: 400px">
        <h3 class="p-1">Bienvenido</h3>
    </div>
    <div class="d-inline-flex d-flex bg-light position-absolute w-40 pt-3 pb-5 top-25 start-50 rounded bg-light" style="width:350px">
        <h3 class="p-1">Historial de Pedidos</h3>
    </div>
    <div class="d-inline-flex d-flex flex-wrap flex-content-around bg-light position-absolute w-40 pt-3 pb-5 top-50 start-50 translate-middle-y rounded bg-light" style="width:350px">
        <h3 class="p-1">Historial de Adopciones</h3>
    </div>
</div>