<div class="login-frame d-flex justify-content-center">   
    <div class="card flex-row vw-50 vh-25">
        <img src="../../../assets/loginCat.png" class="img-fluid" alt="...">
        <div class="card-body">
            <h5 class="card-title">Iniciar Sesión</h5>
            <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="Usuario">
            <input type="password" class="form-control" id="inputPassword6" placeholder="Contraseña" aria-describedby="passwordHelpInline">
            
        </div>
    </div>
</div>